@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');


body {
  color: white;

  text-align: center;
  font-size : 15px;
  font-weight: 20px;


  background-image: url(https://wallpapercave.com/wp/hpehPUv.jpg);
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.slogan {
  font-family: 'Raleway', sans-serif;
  font-size : 15px;
  text-align: left;
  margin-left: 10px;
  margin-top: 0px;
}


.main-text {
  text-align: left;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
  margin-bottom : 0px;
}

.pizza {





  border-radius: 30px;
  float: right;

}

.pizza-text {
  margin-left: 30px;
  float: left;
  font-family: 'Amatic SC', cursive;
  margin-top: 50px;
  font-size: 50px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.navbar {
  font-family: 'Raleway', sans-serif;
}
