@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Potta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');




body {
  color: white;




  font-weight: 20px;


  background-image: url(https://wallpapercave.com/wp/hpehPUv.jpg);
  background-size: auto;
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
}

.slogan {
  font-family: 'Raleway', sans-serif;
  font-size : 15px;
  text-align: left;
  margin-left: 10px;
  margin-top: 0px;

}


.main-text {
  text-align: left;
  margin-left: 10px;
  font-family: 'Raleway', sans-serif;
  margin-bottom : 0px;

}

.pizza {





  border-radius: 31px;
  float: left;
  margin-left: 30px;


}

.pizza-text {
  padding-left: 30px;
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  margin-top :0px;
  margin-bottom :15px;


}


.pizza-small-text {
  margin-top :0px;
  font-family: 'Amatic SC', cursive;
  padding-left: 30px;
  font-size: 22px;


}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}


.navbar {
  font-family: 'Raleway', sans-serif;
}


.pizza-header {
  padding-left: 30px;
  font-family: 'Amatic SC', cursive;
  margin-top: 50px;
  font-size: 50px;
  margin-bottom :0px;

}

.button {
  background-color: #008CBA;

  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  float: left;
  position: relative;
  top: 390px;
  right: 595px;
  border-radius: 40px;

}

.button:hover {
  background-color: #4CAF50;
}


.order-safely {
  font-family: 'Raleway', sans-serif;
  position: relative;
  top: 390px;
  right: 590px;
  padding:bottom:0px;
  margin-bottom:1px;

}

.burger-header {
  padding-right: 15px;
  font-family: 'Amatic SC', cursive;
  margin-top: 50px;
  font-size: 50px;
  margin-bottom :0px;
  position: relative;
  bottom: 363px;
  left: px;
  float: right;

}

.section-image {
  position: relative;
  top: 250px;
  left: 210px;
  border-radius: 40px;

  left: 50%;





  transform: translate(-50%, -50%);
}

.safety {
  font-family: 'Raleway', sans-serif;


  color: black;
  position: absolute;
  top: 1000px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.safety1 {
  font-family: 'Raleway', sans-serif;


  color: black;
  position: absolute;
  top: 1048px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.safety2 {
  font-family: 'Raleway', sans-serif;


  color: black;
  position: absolute;
  top: 1071px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.safety3 {
  font-family: 'Raleway', sans-serif;


  color: black;
  position: absolute;
  top: 1095px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.safety4 {
  font-family: 'Raleway', sans-serif;


  color: black;
  position: absolute;
  top: 1118px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.safety5 {
  font-family: 'Raleway', sans-serif;


  color: black;
  position: absolute;
  top: 1140px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.safety6 {
  font-family: 'Raleway', sans-serif;


  color: black;
  position: absolute;
  top: 1162px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.learn-more-safety {
  font-family: 'Raleway', sans-serif;


  color: #00FFFF;
  position: absolute;
  top: 1208px;
  left: 210px;
  border-radius: 40px;

  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
}